@import '../abstracts/variables.scss';
@import 'src/styles/common.scss';

.header {
  margin-top: 30px;
  font-family: 'Montserrat', sans-serif;
  .inner {
    width: 1240px;
    margin: auto;
    .headerTop {
      display: flex;
      justify-content: space-between;
      > a {
        margin-left: 540px;
        .logo {
          width: 162px;
          height: 90px;
        }
      }
      .loginTop{
        height:130px;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        overflow: hidden;
        .inputBox {
          display: flex;
          align-items: center;
          margin-top: 20px;
          position: relative;
          input{
            margin-right:10px;
            font-size:15px;
            outline:none;
            padding:5px 5px 5px 10px;
            border-radius: 4px;
            transition:all 1s;
            &.show{
              position:absolute;
              top:0px;
              right:0px;
              border:1px solid #D0d4d9;
              background-color:$color-primary;
              opacity:1;
            }
            &.hide {
              position: absolute;
              top: 0;
              right: -300px;
              opacity: 0;
            }
          }
          .icon {
            font-size: 30px;
            font-weight: bold;
            cursor: pointer;
            transition: all 1s;
            &.show {
              display: block;
            }
            &.hide {
              //color:red;
              display: none;
            }
          }
        }
        .loginLink {
          display: flex;
          justify-content: flex-end;
          align-items: flex-start;
          span {
            font-size: 14px;
            font-weight: 500;
            padding: 0 10px;
            color: $color-black-0;
            cursor: pointer;
            a {
              text-decoration: none;
              color: $color-black-0;
            }
          }
        }
      }
    }
    .navigation{
      border-top:2px solid $color-white-ed;
      border-bottom:2px solid $color-white-ed;
      width:1240px;
      height:60px;
      &.fixed{
        position:fixed;
        top:0;
        z-index:10;
      }
      .navInner{
        background-color: white;
        line-height:20px;
        height:20px;
        display:flex;
        justify-content: space-evenly;
        font-weight:800;
        padding:20px 100px;
        >li{
          width:130px;
          height:60px;
          text-align: center;
          >a{
            text-decoration: none;
            color: $color-black-0;
            .dropdown{
              display:none;
              width:130px;
              margin-top:20px;
              border:1px solid $color-white-ed;
              z-index: 10;
              li{
                height:25px;
                padding:5px;
                background-color:$color-primary;
                border:1px solid $color-white-ed;
                text-align: center;
                line-height:20px;
                a{
                  font-size:13px;
                  text-decoration: none;
                  color:$color-black-0;
                  line-height:25px;
                }
                &:hover{
                  background-color: $color-white-ed;
                }
              }
            }
          }
          &:hover .dropdown{
            display:block;
          }
        }
        
      }

    }
  }
}
