@mixin size($w, $h) {
  width: $w;
  height: $h;
}

@mixin inputBox {
  min-width: 100px;
  height: 40px;
  border: 1px solid #e0e0e0;
  padding: 0px 10px;
  outline: none;

  &:hover,
  &:focus {
    border: 1px solid #1e1e1e;
  }
}

@mixin skeleton {
  border-radius: 8px;
  height: 20px;
  background: linear-gradient(
    120deg,
    #e5e5e5 30%,
    #f0f0f0 38%,
    #f0f0f0 40%,
    #e5e5e5 48%
  );
  background-size: 200% 100%;
  background-position: 100% 0;
  animation: skeleton-loading 1s ease-in-out infinite;
}

@keyframes skeleton-loading {
  0% {
    background-position: 100% 0;
  }
  100% {
    background-position: -100% 0;
  }
}
