@import 'src/styles/abstracts/variables';
.container {
  background-color: $color-gray-FA;
  margin: 20px 0;
  width: 1240px;
  box-sizing: border-box;
  padding: 32px;
  h3 {
    font-weight: 700;
  }
}
