@import 'src/styles/common.scss';

.customer {
  min-height: 40px;
  padding: 5px 0;
  display: flex;
  align-items: center;
  border-bottom: 1px solid $color-admin-border;
  background-color: $color-primary;
  text-align: start;

  .customer__email {
    flex-grow: 1.5;
    flex-shrink: 0;
    flex-basis: 0;
    padding-left: 40px;
    min-width: 250px;
  }

  .customer__name {
    padding-left: 40px;
    flex-grow: 1.2;
    flex-shrink: 0;
    flex-basis: 0;
    max-width: 160px;
  }

  .customer__grade {
    padding-left: 40px;
    flex-grow: 0.8;
    flex-shrink: 0;
    flex-basis: 0;

    span {
      padding: 4px;
      border-radius: 20px;
      font-size: 14px;
      color: #000;
    }
  }

  .customer__total-order,
  .customer__total-price {
    text-align: right;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 0;
    padding-right: 40px;
  }
}

.grade--bronze {
  background-color: #cd7f32;
  color: #fff !important;
}

.grade--silver {
  background-color: #c0c0c0;
}

.grade--gold {
  background-color: #ffd700;
}

.grade--platinum {
  background-color: #797979;
  color: #fff !important;
}

.grade--diamond {
  background-color: #b9f2ff;
}
