@import 'global.scss';

.ModalBackground {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
}
.Modal {
  background-color: $color-primary;
  width: 500px;
  height: 250px;
  font-weight: 400;
  display: flex;
  align-items: center;
  position: absolute;
  border-radius: 10px;

  > span {
    margin-left: 40px;
    font-size: 20px;
  }
  .Title {
    background-color: $color-black-0;
    width: 500px;
    height: 60px;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 10px 10px 0 0;
    span {
      color: $color-primary;
      font-size: 20px;
      font-weight: 400;
      text-align: left;
      line-height: 60px;
      margin-left: 40px;
    }
  }

  .Close {
    background-color: $color-black-D9;
    position: absolute;
    right: 20px;
    bottom: 20px;
    width: 70px;
    height: 35px;
    text-align: center;
    line-height: 35px;
    border: none;
    border-radius: 10px;
  }
}
